<div class="container-fluid">
  <h1>post a quote</h1>
  <form (ngSubmit)='submitquote' #goalForm='ngForm'>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="newquote.name" name="name"  #name='ngModel' required>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Name is required</p>
          </div>
    </div>
    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" required class="form-control" id="author" [(ngModel)]="newquote.author" name="author"  #author='ngModel'>
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author Name is required</p>
          </div>
    </div>
    <div class="form-group">
      <label for="name">Date posted</label>
      <input type="date" class="form-control" id="dueon" [(ngModel)]="newquote.dueon" name="dueon" #dueon="ngModel" required>
      <div [hidden]="dueon.valid || dueon.pristine" class="alert alert-danger">
            <p>Date is required</p>
          </div>
    </div>
    <div class="form-group">
      <label for="name">QUOTE</label>
      <textarea class="form-control" id="description" rows="4" [(ngModel)]="newquote.description" name="description" #description="ngModel" required></textarea>
      <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
      <p>Quote is required</p>
    </div>
  </div>
  <button type="submit">POST</button>
  </form>
</div>