<div class="container-fluid">
<h1>post a quote</h1>
<form #quoteForm ='ngForm'>
  <div class="form-group">
    <label for="name">Name</label>
          <input type="text" required class="form-control" id="name" [(ngModel)]="newquote.name" name="name">
          display{{newquote.name}}
  </div>
  <div class="form-group">
    <label for="name">Author</label>
          <input type="text" required class="form-control" id="author">
  </div>
  <div class="form-group">
    <label for="name">Date posted</label>
          <input type="date" required class="form-control" id="dueon">
  </div>
  <div class="form-group">
    <label for="name">QUOTE</label>
    <textarea class="form-control" id="description" rows="4" required></textarea>
  </div>
  <button type="submit">POST</button>
</form>
</div>
