<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes</title>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="https://thumbs.dreamstime.com/b/ok-emoticon-13969327.jpg" width="80%" height="300px">
      </div>
      <div class="col-md-6">
        <p style="font-family: 'Sofia';font-size: 22px;">Have you ever looked for the best
          place to find inspiration quote?
          here is the solution for you.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h1>Best inspiritional Quote</h1>
        <hr>
        <ul>
          <div *ngFor='let quote of array;let i = index'>
            <li appStrikethrough>{{quote.description}}</li>
            <button (click)='toggleDetails(i)'>Quote details</button>
            <app-details *ngIf='quote.showDescription' [quote]='quote' (comply)='deletequote($event,i)'></app-details>
          </div>
        </ul>
      </div>
      <div class="col-md-6">
        <app-form></app-form>
      </div>
    </div>
  </div>
</body>

</html>