body{
    background-color:lightgray;
}
#first{
    font-family: 'Sofia';
    font-size: 32px;
    margin: 30px;
    font-style: italic;
}
h1{
    font-family: 'Sofia';
    font-size: 22px;
    margin: 10px;
    text-align: center;
}
li{
    font-size: 20px;
    font-style: italic;

}